<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="signUpOpen()" *ngIf="!isSignUp">Sign up</ion-button>
      <ion-button (click)="signInOpen()" *ngIf="isSignUp">Sign in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1 *ngIf="!isSignUp">Login</h1>
    <h1 *ngIf="isSignUp">Sign Up</h1>
    <div class="orb-wrapper">
      <div class='wrap'>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
      </div>
    </div>

  </div>

  <form id="form" [formGroup]="credentialForm">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email" clearInput="true"></ion-input>
    </ion-item>
    <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required"> Email is required</span>
      <span *ngIf="email.errors?.email"> Email is invalid</span>
    </div>
    <ion-item class="ion-margin-bottom ion-margin-top">
      <ion-input type="password" placeholder="Password" formControlName="password" clearInput="true"></ion-input>
    </ion-item>
    <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf="password.errors?.required"> Password is required</span>
      <span *ngIf="password.errors?.email"> Password is invalid</span>
    </div>
    <ion-button expand="block" shape="round" (click)="signIn()" *ngIf="!isSignUp">Login</ion-button>
    <ion-button expand="block" shape="round" (click)="signUp()" *ngIf="isSignUp">Sign Up</ion-button>
  </form>

</ion-content>
